@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  background-color: #313131;
  color: white;
}
#root{
  display: flex;
  justify-content: center;
  
}
.App{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem 5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
input{
  height: 35px;
  width: 500px;
  padding: 0.7rem;
  border:none;
  outline: none;
}
input:focus{
  border: 2px solid cornflowerblue;
}
.searchArea{
  display: flex;
  align-items: center;
}
button{
  height: 35px;
  padding: 0.3rem 1rem;
  font-weight: 600;
  background-color: cornflowerblue;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover{
  background-color: rgb(57, 86, 141);
  color: white;
}
.FollowerList{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.card{
  height: 350px;
  width: 250px;
  background-color: white;
  padding: 2rem;
  color: black;
  border-radius: 8px;
  position: relative;
}
.card img{
  width: 180px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgb(73, 73, 73);
}
.card a{
  text-decoration: none;
  background-color: cornflowerblue;
  font-weight: 600;
  color: white;
  padding: 0.6rem;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card a:hover{
  box-shadow: 0 0 10px grey;
}
.id{
  font-size: 12px;
}